---
import Layout from '../layouts/Layout.astro';

const date = new Date();
const color = 'red';
---

<Layout title='Index Page'>
	<h1>Main Page</h1>

	<p style={{ color: color }}>{date.toDateString()}</p>

	<div>
		<a href='/about'>About Page</a>
	</div>
</Layout>
