---
const links = [
	{ url: '/', title: 'Home' },
	{ url: '/about', title: 'About' },
	{ url: '/products', title: 'Products' },
];
---

<nav
	class='flex items-center justify-between m-auto p-4 h-[50px] w-full absolute inset-[0 0 auto 0] bg-gray-400 text-white'
>
	<h2 class='text-lg font-bold'>Astro site</h2>

	<ul class='flex items-center justify-center gap-4'>
		{
			links.map(link => (
				<li>
					<a href={link.url}>{link.title}</a>
				</li>
			))
		}
	</ul>
</nav>
