---
import Navigation from '../components/Navigate.astro';
import { baseURL } from '../pages/index.astro';

interface Props {
	title: string;
}

const { title = 'Astro default' } = Astro.props as Props;
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href=`${baseURL}/favicon.svg` />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navigation />
		<div class='p-4 pt-[50px] m-auto'>
			<slot />
		</div>
	</body>
</html>
